.catalogoSection {
  padding: 1rem;
  /*   background-color: $naranjaclaro;
 */
  &-category {
/*     margin: auto;
 */  }
  &-category-text {
    text-align: center;
  }
  &-category-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-programacion,
    &-diseño,
    &-data {
      margin: 0.5rem 0;
      border: 1px solid $amarillo;
      border-radius: 10px;
      padding: 0.5rem;
      color: $fucsia;
    }
    &-programacion:hover,
    &-diseño:hover,
    &-data:hover {
      background-color: $fucsia;
      color: $amarillo;
      border: 1px solid $amarillo;
    }
  }
  &-column3-input {
    padding-bottom: 0.5rem 0;
  }
  &-column3-searchinput-btn {
    border: none;
    background-color: transparent;
    margin: 0.5rem 0;
  }
  &-column3-buttons{
    padding: 0.5rem 0;
  }
}

.catalogoSection-card {
  margin: 0.5rem;
}

.active {
  background: $azulroyal;
}

@media (min-width: 376px) and (max-width: 992px) {
  .catalogoSection-category-buttons {
    display: flex;
    flex-direction: row;
  }
  #btnProgramacion,
  #btnData,
  #btnDiseño {
    border-radius: 5px;
    margin: 1rem;
    display: flex;
  }

  .btn-group-vertical {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #menorMayor,
  #mayorMenor,
  #alfabetico {
    width: 33.33%;
    border-radius: 5px;
    margin: 1rem;
  }

  .catalogoSection-category {
    order: 1;
  }

  .catalogoSection-cursos {
    order: 3;
  }

  .catalogoSection-functions {
    order: 2;
  }
}

/* @media (max-width:575px){
  

  .prueba3{
    order
  }
} */
