.cursosSection {
  padding: 1rem;
  background-color: navy;
  & h3 {
    color: lightblue;
  }
  &-tittle {
    text-align: center;
    padding: 2rem 3rem;
    text-decoration: underline;
  }
}

.dark .cursosSection {
  background-color: transparent;
}