/* CUSTOM NAVBAR */
$navbar-light-brand-color: navy;

/* DROPDOWN NAVBAR */
$dropdown-link-color: navy;
$dropdown-padding-y: 0;
$dropdown-item-padding-y: 0.1rem;

$input-btn-focus-color: navy;

/* button primary */
$primary: navy;
$success: navy;

$navbar-light-toggler-border-color:navy;


@import "../node_modules/bootstrap/scss/bootstrap";
