.footerSection {
  &-main {
    padding: 1.5rem;
  }
  &-form {
    padding: 0.5rem 0.5rem;
    &-name,
    &-lastname,
    &-phone,
    &-mail,
    &-textarea {
      margin: 0.5rem 0;
    }
    &-name label,
    &-lastname label,
    &-phone label,
    &-mail label {
      margin: 0.5rem 0;
    }
    &-textarea textarea {
      resize: none;
    }
    & h5 {
      background-color: $fucsia;
    }
  }
  &-maps {
    padding: 0.5rem 1rem;
  }
  &-socialmedia {
    padding: 0.5rem 1rem;
    & h5{
      background-color: $naranja;
    }
  }
  &-iconos i {
    padding: 1rem;
    font-size: 3rem;
    color: $naranja;
  }
  &-copyright {
    background-color: black;
    color: $amarillo;
  }
  &-maps h5{
    background-color: $amarillo;
  }
}
