.footerSection {
  &-main {
    padding: 1.5rem;
  }
  &-form {
    padding: 0.5rem 0.5rem;
    &-name,
    &-lastname,
    &-phone,
    &-mail,
    &-textarea {
      margin: 0.5rem 0;
    }
    &-name label,
    &-lastname label,
    &-phone label,
    &-mail label {
      margin: 0.5rem 0;
    }
    &-textarea textarea {
      resize: none;
    }
    & h5 {
      background-color: navy;
      color: lightblue;
      font-weight: 700;
    }
  }
  &-maps {
    padding: 0.5rem 1rem;
  }
  &-socialmedia {
    padding: 0.5rem 1rem;
    & h5 {
      background-color: navy;
      font-weight: 700;
      color: lightblue;
    }
  }
  &-iconos i {
    padding: 1rem;
    font-size: 3rem;
    color: navy;
  }
  &-copyright {
    background-color: black;
    color: lightblue;
  }
  &-maps h5 {
    background-color: lightblue;
    color: navy;
    font-weight: 700;
  }
}

.dark .footerSection-socialmedia h5,
.dark .footerSection-maps h5,
.dark .footerSection-form h5 {
  color: black;
  background-color: rgb(85, 80, 80);
}

.dark .footerSection-iconos i{
  color: rgb(85, 80, 80);
}

