

body{
  padding-top: 5.5rem;
}

/* MAIN SECTION */
.main {
  &-contenedor {
    background-color: $amarillo;
    padding: 1rem;
  }
  &-img {
    width: 80%;
    margin: 0 auto;
  }
}

/* US SECTION */

/* CURSOS SECTION */
.CursosSection{
  background-color: $azulroyal;
  padding: 1rem;
}


/* CATALOGO SECTION */


/* REVIEX SECTION */


/* REDES SOCIALES */

