.navbar {
  background-color: white;
  .navbar-brand {
    font-weight: 700;
    margin: 0;
  }
  &-logo {
    width: 2rem;
  }
  &-button-cart {
    font-size: 1.8rem;
    padding: 1rem 0;
    border: none;
    margin-right: 2rem;
    color: navy;
  }
}

.nav-item {
  .nav-link {
    color: navy;
    font-weight: 500;
    font-size: 1.2rem;
  }
  &-boton {
    margin: auto 0;
  }
}

.dark .navbar {
  background-color: lightblue;
}

.fa-bars{
  color: navy;
}