.navbar {
  background-color: white;
  .navbar-brand {
    font-weight: 700;
  }
}

.nav-item {
  .nav-link {
    color: $naranja;
    font-weight: 500;
    &:hover {
      color: $fucsia;
    }
  }
}
