.reviewSection {
  background-color: $naranja;
  &-card {
    padding: 1rem 1.5rem;
    &-name {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      & h5 {
        padding: 0 2rem;
      }
    }
    &-img {
      border-radius: 50%;
    }
    &-review {
      padding: 1rem 0;
      & blockquote {
        text-align: justify;
      }
    }
  }
}
