/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* paleta 1 */
$azulroyal: #3626e9;
$fucsia: #fc05e7;
$naranja: #ff6c3b;
$naranjaclaro: #e8b12a;
$amarillo: #cfff2e;

/* paleta 2*/
$color1:#a8510e;
$color2:#ff9645;
$color3:#f5822a;
$color4:#0095a8;
$color5:#2addf5;
 

/* paleta 3 */
$color5:#026e81;
$color6:#00abbd;
$color7:#0099dd;
$color8:#ff9933;
$color9:#a1c7e0;

/* paleta 4 */
$color10:#662400;
$color11:#b33f00;
$color12:#ff6b1a;
$color13:#006663;
$color14:#00b3ad;