/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* paleta 1 */
$azulroyal: #3626e9;
$fucsia: #fc05e7;
$naranja: #ff6c3b;
$naranjaclaro: #e8b12a;
$amarillo: #cfff2e;

/* paleta 2 */



/* paleta 3 */