/* colores */

/* $azulroyal:#362676;
$celeste:#0071f1;
$naranja: #ff6d3b;
$grismedio: #f0e9e1;
$grisclaro:#f7f5f2;
$rosaveja: #f5d7d9;  */

$azulroyal: #3626E9;
$fucsia: #FC05E7;
$naranja: #FF6C3B;
$naranjaclaro: #E8B12A;
$amarillo: #CFFF2E;
